<template>
  <div @click="$emit('toggle', id)">
    <ArrowRight v-if="!expanded"/>
    <ArrowRight2 v-else/>
  </div>
</template>

<script>
import ArrowRight from './arrow-right.svg'
import ArrowRight2 from './arrow-right2.svg'

export default {
  name: 'Toggle',
  components: { ArrowRight, ArrowRight2 },
  props: {
    expanded: {
      type: Boolean,
      default: false
    },
    id: Number
  }
}
</script>
