<template>
  <icon>
    <component :is="flagComponent" />
  </icon>
</template>

<script>
import Icon from '../icons/Icon.vue'

export default {
  name: 'Flag',
  components: { Icon },
  props: {
    countryCode: {
      type: String,
      default: 'gb-GB'
    }
  },
  computed: {
    flagComponent () {
      let languageCode = this.countryCode.split('-', 1)
      if (this.countryCode.toLowerCase() === 'en') {
        languageCode = 'gb'
      }

      return () => import(`./flags/${languageCode}.svg`)
    }
  }
}
</script>
