<template>
  <div class="mb-3">
    <filtered-values
      :values="values"
      :isLoading="isLoading"
      v-slot="slotProps"
    >
      <Table
        :values="slotProps.values"
        :config="config"
        :isLoading="slotProps.isLoading"
      />
    </filtered-values>
  </div>
</template>

<script>
import Table from '@/components/Table/Table.vue'
import FilteredValues from '@/components/FilteredValues/FilteredValues.vue'
import members from './members.json'
import Badge from '@/components/ui/Badge/Badge.vue'
import IconEdit from '@/components/ui/icons/IconEdit.vue'
import SyncIcon from '@/styles/icons/sync.svg'
import SyncCheckIcon from '@/styles/icons/sync_check.svg'
import '@/styles/generated/css/specific/manager/manager.css'

const config = [
  {
    text: 'Last name',
    name: 'last_name',
    isSortable: true
  },
  {
    text: 'First name',
    name: 'first_name',
    isSortable: true
  },
  {
    text: 'Email',
    name: 'email',
    isSortable: true
  },
  {
    text: 'Language',
    name: 'language',
    isSortable: true,
    extraClasses: ['text-uppercase'],
    component: Badge
  },
  {
    text: 'State',
    name: 'state_label',
    isSortable: true,
    component: Badge
  },
  {
    text: 'Qualtrics',
    name: 'qualtrics',
    isSortable: true,
    component: Boolean,
    props: {
      icons: [SyncIcon, SyncCheckIcon]
    }
  },
  {
    text: 'Edit',
    name: 'edit',
    component: IconEdit,
    props: {
      action: 'edit'
    }
  }
]
export default {
  name: 'TableView',
  components: { FilteredValues, Table },

  data () {
    return {
      values: null,
      isLoading: true,
      config
    }
  },

  mounted () {
    this.fetchData().then(data => {
      this.values = data
    }).finally(() => {
      this.isLoading = false
    })
  },

  methods: {
    fetchData () {
      return new Promise(resolve => {
        // Mimic API delay
        setTimeout(() => resolve(members), 500)
      })
    }
  }
}
</script>
