<template>
  <div id="app" class="mb-3" v-if="!hasError">
    Current id : {{ currentId }}
    Last parent id : {{ lastParentId }}
    <Table
      :values="invites"
      :config="config"
      :isLoading="isLoading"
      @toggle="handleToggle"
    />
    <hr>
    <transition appear>
      <Table
        v-if="children.length"
        :values="children"
        :config="config"
        :isLoading="false"
      />
    </transition>
  </div>
  <div v-else class="alert alert-danger">
    Error
  </div>
</template>

<script>
import Table from '@/components/Table/Table.vue'
import distributions from './distributions.json'
import Toggle from '../components/ui/Toggle/Toggle.vue'
import '@/styles/generated/css/specific/hq/hq.css'
import { ROUTE_DISTRIBUTIONS_DETAIL } from '@/router'

const config = [
  {
    text: 'Created on',
    name: 'created',
    isSortable: true
  },
  {
    text: 'Distribution',
    name: 'type',
    isSortable: true
  },
  {
    text: 'Status',
    name: 'is_published',
    isSortable: true
  },
  {
    text: 'Show Children',
    names: ['id', 'expanded'],
    component: Toggle,
    displayConstraints: [{
      prop: 'has_children',
      value: true
    }]
  }
]

export default {
  name: 'TableViewDistributions',
  components: {
    Table
  },
  props: {
    currentId: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      hasError: false,
      invites: [],
      followUps: [],
      isLoading: false,
      lastParentId: null,
      config
    }
  },
  computed: {
    children () {
      return this.followUps.filter(child => child.parent_id === this.lastParentId)
    }
  },
  mounted () {
    this.fetchDistributions()
  },
  methods: {
    /**
     * Update children to display
     */
    handleToggle (id) {
      this.lastParentId = (id === this.lastParentId) ? null : id

      this.$router.push({
        name: ROUTE_DISTRIBUTIONS_DETAIL,
        params: { currentId: this.lastParentId }
      })
    },
    // handleEvents () {
    //   eventBus.$on('clickedToggle', (id) => {
    //     const filterById = (id === this.lastParentId) ? null : id
    //     this.children = this.followUps.filter(child => child.parent_id === filterById)
    //     this.lastParentId = filterById
    //   })
    // },
    async fetchDistributions () {
      this.isLoading = true
      try {
        const response = await this.fetchData()
        this.invites = response['invites'].map(i => ({
          ...i,
          expanded: i.id === this.lastParentId
        }))
        this.followUps = response['follow_ups']
      } catch (e) {
        this.hasError = true
      }
      this.isLoading = false
    },
    fetchData () {
      return new Promise(resolve => {
        // Mimic API delay
        setTimeout(() => resolve(distributions), 500)
      })
    }
  },
  watch: {
    currentId: {
      immediate: true,
      handler (newValue) {
        this.lastParentId = parseInt(newValue, 10)
      }
    },
    lastParentId: {
      immediate: true,
      handler (newValue) {
        // reset _editing
        this.invites.forEach(i => { this.$set(i, 'expanded', false) })
        // update the new item to toggle
        newValue && this.$set(this.invites.find(i => i.id === newValue), 'expanded', true)
      }
    }
  }
}
</script>
