<template>
  <span
    class="badge badge-pill"
    :class="displayProps.cssClass"
    v-text="displayProps.text"
  ></span>
</template>

<script>
export default {
  name: 'Badge',
  props: {
    value: [String, Array]
  },
  computed: {
    displayProps () {
      const [text, cssClass] = Array.isArray(this.value) ? this.value : [this.value, 'badge-secondary']
      return { text, cssClass }
    }
  }
}
</script>
