<template>
  <icon
    tag="a"
    :href="value"
    class="text-info icon-md"
  >
    <PenIcon/>
  </icon>
</template>

<script>
import PenIcon from './pen.svg'
import Icon from './Icon.vue'

export default {
  name: 'IconEdit',
  components: { Icon, PenIcon },
  props: {
    value: String
  }
}
</script>
