<template>
  <Loader v-if="isLoading"/>
  <div v-else-if="sortedValues">
    <div
      v-if="sortedValues.length <= 0"
      class="alert alert-info"
    >
      No data found
    </div>
    <div v-else class="table-responsive bg-white">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <template
              v-for="entry in config"
            >
              <th
                :key="entry.name"
                v-if="entry.isSortable"
                tabindex="0"
                @keyup.space="sortBy(entry)"
                @click="sortBy(entry)"
                class="cursor-pointer"
              >
                <span>{{ entry.text }}</span>
                <icon
                  :class="{
                    'active': entry.name === sortKey,
                    'rotate-2': sortOrders[entry.name] > 0
                  }"
                >
                  <ArrowIcon/>
                </icon>
              </th>
              <th
                v-else
                :key="entry.name"
              >
                <span>{{ entry.text }}</span>
              </th>
            </template>
          </tr>
        </thead>
        <transition-group tag="tbody">
          <tr
            v-for="(row, rIndex) in sortedValues"
            :key="row.id || rIndex"
          >
            <td
                v-for="(col, cIndex) in config"
                :key="col.name || cIndex"
                :class="col.extraClasses"
            >
              <component
                v-if="col.component && displayCol(row, col)"
                :is="col.component"
                v-bind="fillProps(row, col)"
                v-on="$listeners"
              />
              <template v-else>
                {{ row[col.name] }}
              </template>
            </td>
          </tr>
        </transition-group>
      </table>
    </div>
  </div>
</template>

<script>
import Loader from '../ui/Loader/Loader.vue'
import Icon from '../ui/icons/Icon.vue'
import ArrowIcon from './arrow-up.svg'

import '@/styles/generated/css/specific/manager/manager.css'

export default {
  name: 'Table',
  components: { Loader, Icon, ArrowIcon },
  props: {
    values: Array,
    config: Array,
    isLoading: Boolean
  },
  data () {
    const sortOrders = {}
    this.config.forEach((entry) => {
      if (entry.isSortable) sortOrders[entry.name] = -1
    })

    return {
      sortKey: '',
      sortOrders
    }
  },
  computed: {
    sortedValues () {
      const { sortKey, sortOrders } = this
      const order = sortOrders[sortKey] || 1
      if (sortKey) {
        return this.values.slice().sort((a, b) => {
          a = a[sortKey] // eslint-disable-line no-param-reassign
          b = b[sortKey] // eslint-disable-line no-param-reassign
          return (a === b ? 0 : a > b ? 1 : -1) * order // eslint-disable-line no-nested-ternary
        })
      } else {
        return this.values
      }
    }
  },
  methods: {
    sortBy (entry) {
      const key = entry.name
      this.sortKey = key
      this.$set(this.sortOrders, key, this.sortOrders[key] * -1)
    },
    fillProps (row, col) {
      const propsA = {
        value: row[col.name],
        ...col.props
      }
      const propsB = {}
      if (col.names) {
        col.names.forEach(key => {
          propsB[key] = row[key]
        })
      }
      return Object.assign(propsA, propsB)
    },
    displayCol (row, col) {
      const { displayConstraints = [] } = col
      let result = true
      displayConstraints.forEach(c => {
        result = result && (row[c.prop] === c.value)
      })
      return result
    }
  }
}
</script>
