<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/distributions">Distributions</router-link> |
      <router-link to="/members">Membres</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <button @click="toggleAuth">Toggle auth</button> state : {{ auth.isAuth}}
    <button @click="toggleAuthViaVueX">Toggle auth VueX</button> state VueX : {{ authVueX }}
    <router-view/>
  </div>
</template>

<script>
import store from './store/simpleStore'

export default {
  data () {
    return {
      auth: store.state.auth
    }
  },
  mounted () {
    console.log(this.$store)
  },
  computed: {
    authVueX () {
      return this.$store.state && this.$store.state.auth
    }
  },
  methods: {
    toggleAuth: store.actions.toggleAuth,
    toggleAuthViaVueX () {
      this.$store.dispatch('toggleAuth')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
