<template>
    <icon :class="value ? 'text-success' : 'text-danger'">
      <component :is="icons[value | 0]" />
    </icon>
</template>

<script>
import CheckIcon from './check.svg'
import TimesIcon from './times.svg'
import Icon from '../icons/Icon.vue'

export default {
  name: 'Boolean',
  components: { Icon },
  props: {
    value: Boolean,
    icons: {
      type: Array,
      default: () => [CheckIcon, TimesIcon]
    }
  }
}
</script>
